*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex(busy)
*.atfi
*.pytxcode
*.sta
*.fdb_latexmk
*.fls
*.pyg
_minted*
.python-version
.DS_Store
split
source/*.tex
source/*.md
*.output
*.bcf
*.xsim
*.run.xml
ch*.pdf
ch*/**/*.pdf
svg-inkscape
*.tdo
*.bak
build-sections
*.listing
scripts/~$artlog.xlsx
scripts/~$MITP_Art_Log.xlsx
matlab_run.sh
.jekyll-cache